
.sidebar {
    position: fixed;
    left: 0;
    width: 60px;
    height: calc(100% );
    background-color: #333;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1100;  
  
    &.open {
      width: 250px;
    }
  
    h1 {
      color: white;
      text-align: center;
      margin: 10px 0;
      font: 1.5em sans-serif;
    }
    .toggle-button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 20px;
  }
    
    a {
      color: white;
      text-decoration: none;
      padding: 10px;
      display: block;
      margin: 10px;
    }
  }
  

a {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;

    &:hover {
        background-color: #7b7b7b;
        border-radius: 20px;
    }

    &.active {
        background-color: #939393;
        border-radius: 20px;
        font-weight: bold;
    }
}
