.products-container {
    display: flex;
    flex-direction: column;

    .products-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .products-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    }

    .MatIcon {
        cursor: pointer;
        color: #426254;
        &:hover {
            color: #52aa66;
        }
    }
}